@use '../../../global-styles/forwarder.scss'as v;

.c-vin {
    // border           : 1px green solid;
    // padding       : 0.25rem;
    position      : relative;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    transition    : all 0.3s;
    padding       : 0.5rem;

    &:hover {
        box-shadow: 0px 3px 0.5rem -1px rgba(99, 99, 99, 0.5);
    }

    &__img {
        height       : 17rem;
        margin-bottom: 1rem;
    }

    &__name {
        width          : 100%;
        position       : absolute;
        height         : 5rem;
        top            : 25%;
        padding-left   : 0.5rem;
        padding-right  : 0.5rem;
        display        : flex;
        flex-direction : column;
        justify-content: center;

        &__text {
            width           : 100%;
            background-color: v.$sepia-black;
            color           : white;
            padding         : 0.125rem 0.25rem 0.125rem 0.25rem;
            text-align      : center;
            font-family     : v.$tinos-font;
            line-height     : 1.3rem;
        }
    }

    &__data {
        font-family  : v.$tinos-font;
        color        : v.$dark-grey;
        margin-bottom: 0.5rem;
    }

    &__price {
        font-family  : v.$tinos-font;
        margin-bottom: 1rem;
    }

    &__ctrls {
        display              : grid;
        grid-template-columns: 2rem 2fr 2rem 5fr;

        &__minus,
        &__plus {
            border          : 1px v.$sepia-black solid;
            background-color: white;
            width           : 2rem;
            height          : 2rem;
            display         : flex;
            align-items     : center;
            justify-content : center;
            font-size       : 1.2rem;
            transition      : all 0.2s;

            &:hover {
                background-color: v.$sepia-black;
                color           : white;
            }
        }

        &__plus p {
            margin-top: 0.1rem;
        }

        &__input {
            border       : none;
            width        : 100%;
            border-top   : 1px v.$sepia-black solid;
            border-bottom: 1px v.$sepia-black solid;
            text-align   : center;
            font-family  : v.$tinos-font;
            font-size    : 1rem;

            &:focus {
                outline: transparent;
            }
        }

        &__add {
            border          : 1px v.$sepia-black solid;
            background-color: white;
            height          : 2rem;
            font-family     : v.$tinos-font;
            font-size       : 1rem;
            margin-left     : 0.5rem;

            &:hover {
                background-color: v.$sepia-black;
                color           : white;
            }
        }
    }
}

.c-vin__ctrls__add[bounce='1'] {
    animation: bounce 0.3s 1;
}

@keyframes bounce {
    25% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}