@use '../../global-styles/forwarder.scss'as v;

.c-filters {

    &__cat {
        list-style-type: none;
        color          : v.$dark-grey;
        font-family    : v.$tinos-font;
        margin-left    : 1rem;
        margin-top     : 1rem;
        line-height    : 1.8rem;

        &__filter {

            &:hover {
                transition: transform 0.1s;
                transform : scale(1.1);
                cursor    : pointer;
            }

            &--selected {
                color: v.$sepia-black;

                img {
                    width      : 0.8rem;
                    display    : inline-block;
                    margin-left: 0.3rem;
                }

                &:hover {
                    transition: transform 0.1s;
                    transform : scale(1.1);
                    cursor    : pointer;
                }
            }
        }
    }

}