@use '../../../global-styles/forwarder.scss'as v;

.c-vare {
    display              : grid;
    grid-template-columns: 4% 8% 24% 10% 15% 17% 11% 11%;
    height               : 6rem;
    font-family          : v.$tinos-font;
    padding-bottom       : 1rem;
    margin-bottom:      1rem;

    &:hover {
        box-shadow: 0px 1px 0.5rem -1px rgba(99, 99, 99, 0.5);
    }

    .o-col {
        // border         : 1px pink solid;
        padding        : 0.5rem;
        display        : flex;
        flex-direction : column;
        justify-content: center;

        &:nth-child(1) {
            padding-left: 1rem;
        }

        // &:nth-child(4) {
        //     // text-align: right;
        // }

        // &:nth-child(6) {
        //     text-align: right;
        // }

        // &:nth-child(7) {
        //     text-align: right;
        // }

        // &:last-child {
        //     text-align: right;
        // }
    }

    &__remove {
        img {
            width : 0.8rem;
            cursor: pointer;
        }
    }

    &__bottle {
        align-items: center;

        &__img {
            width: 1.8rem;
        }
    }

    &__info {
        font-size  : 0.9rem;
        line-height: 1.1rem;

        &__data,
        &__type {
            color: v.$dark-grey;
        }
    }


    &__adjust {
        display              : grid;
        grid-template-columns: 1.8rem 40% 1.8rem;

        &__minus,
        &__plus {
            border          : 1px v.$sepia-black solid;
            background-color: white;
            height          : 1.8rem;
            display         : flex;
            align-items     : center;
            justify-content : center;

            img {
                width: 0.5rem;
            }
        }

        &__input {
            border       : none;
            border-top   : 1px v.$sepia-black solid;
            border-bottom: 1px v.$sepia-black solid;
            text-align   : center;
            font-family  : v.$tinos-font;
            font-size    : 1rem;
        }
    }


}