/* Global styles imported here */

@import url('./global-styles/typography.css');
/* @import url('./global-styles/fonts.css'); */
@import url('./global-styles/colors.css');
@import url('./global-styles/layouts.css');
@import url('./global-styles/spacing.css');

/* .App {
  width           : 100vw;
  height          : 100vh;
  background-color: var(--other-col);
}

.App-logo {
  fill: blue;
}

.box {
  width : 300px;
  height: 300px;
  border: 1px black solid;
} */