// :root {
//     --sepia-black-col: #2B0202;
//     --white-bg-col   : white;
//     --danger-red-col : darkred;
//     --safe-green-col : forestgreen;
// }

$sepia-black : #2B0202;
$white-bg    : white;
$dark-grey   : #737373;
$danger-red  : darkred;
$safe-greee  : forestgreen;