@use './colors.scss'as c;
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family : 'Fanzine';
    font-display: swap;
    src         : url('../../assets/fonts/fanzine.woff') format('woff'),
        url('../../assets/fonts/fanzine.woff2') format('woff2');
    font-style: normal;
}

// :root {
//     --fanzine-font: Fanzine;
//     --tinos-font  : Tinos;
//     /* italic small-caps normal 13px/150% Arial, Helvetica, sans-serif; */
// }

$fanzine-font: Fanzine,
sans-serif;
$tinos-font: Tinos,
sans-serif;

@mixin h1-styled {
    margin-top   : 6rem;
    margin-bottom: 4rem;

    span {
        font-family     : $tinos-font;
        font-size       : 2rem;
        color           : c.$white-bg;
        background-color: c.$sepia-black;
        padding         : 0.125rem 1rem 0.125rem 1rem;
    }
}

@mixin h2-styled {
    span {
        font-family     : $tinos-font;
        font-size       : 2rem;
        color           : c.$white-bg;
        background-color: c.$sepia-black;
        padding         : 0.125rem 1rem 0.125rem 1rem;
    }
}

@mixin h3-styled {
    span {
        font-family     : $tinos-font;
        font-size       : 2rem;
        color           : c.$white-bg;
        background-color: c.$sepia-black;
        padding         : 0.125rem 1rem 0.125rem 1rem;
    }
}

@mixin paragraph {
    font-family: $tinos-font;
    font-size  : 1rem;
    line-height: 1.3rem;

    span {
        color           : c.$white-bg;
        background-color: c.$sepia-black;
        padding         : 0.125rem 0.5rem 0.125rem 0.5rem;
    }
}